.main{
    background-color:#8012C3;
    /* width:auto; */
    height:470px;
    justify-content: space-between;
    display: block;
    
    position: relative;
}
.image2 img{
   
    position: absolute;  
   padding-top:106px;
   margin-left:10vw;
}
.image img{
    display:flex ;
    margin-left: 65vw;
    padding-top:108px;
    width:235.73px;
    height: 46px;
    
}
.message {
    background-color: #8F2FCA;
    color:white;
    width:500px; 
    height: 17%;
    background-position:20px ;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-left: 56vw;
    justify-content: center;
}
.message p{
    direction: rtl;
}
.button{
    background-color:#4E047B;
    width: 298px;
    height: 56px;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5rem;
   margin-left: 63vw;
   justify-content: center;
   align-items: center;
   
}
.button a{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration:none;
    font-size: 2vw;
}
.paragraf p{
    color:#6A1B9A; 
    justify-content: center;
    display: flex;
    margin-top:10%;
    font-weight: bold;
    font-size: 25px;
    width:368px ;
    height: 35px;
   
    font-family: 'IRANYekan', sans-serif;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
}

.kadre{
    width:410px;
    height: 83px;
    background-color:#FDF7FF;
    line-height: 22.55px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.kadre span{
    font-family: 'IRANYekan', sans-serif;
     font-size: 15px;
     display: flex;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     align-items: center;
}
.section1{
    width:auto;
}
.section-1{
   
    margin-top:30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom:200px ;
   
}

.hard {
     font-weight: 700;   
      color:#6c1c9c;
    font-family: 'IRANYekan', sans-serif;
     justify-content: center;
     font-size: 25px ;
     margin-bottom: 25px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     background-color:#FDF7FF; 
     margin-bottom: 0px;
    }

.section2 {
    justify-content: center;
   margin-right: auto;
   margin-left: auto;
    padding-right:auto;
    padding-left:auto;
    background-color:#FDF7FF;
    display: flex;
    
}
.section2 image{
    position: absolute;
}
.all {
    width:80vw;
    height:auto; 
    display: flex;
   margin: auto;
   justify-content: center;
   align-items: center;
   margin-bottom: 5%;
}
.first{
    width:18.75rem; 
    height:auto; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border:solid #E0DCDC 1px;
    margin-right:1%;
    
    
}
.first img{
    display: flex;
    direction: ltr;
    margin-right:15rem;
    margin-left: 1rem;
    margin-bottom: 1vw;
}
.firstp{
    color: #c45d5d;
    display: flex;
    justify-content: center;
}
.firstpi{
    width:100%; 
    height:2%;
}
.firstpi p{
    color: black;
   
    display: flex;
    font-weight: 400;
    line-height: 23px;
    margin-right: 5%;
    margin-left: 5%;
}
.second{
    width:18.75rem; 
    height:auto; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border:solid #E0DCDC 1px;
    margin-right:1%;
}
.second img{
    margin-right:15rem;
    margin-left: 1rem;
}
.secondp{
    color: #c45d5d;
    display: flex;
    justify-content: center;
  
}
.secondpi p{
    color: black;  
   
    display: flex; 
    font-weight: 400;
    line-height: 23px;
    margin-right: 5%;
    margin-left: 5%;
}
.secondpi{
    width:100%;
    height:2%;
}

.third{
    width:18.75rem; 
    height:auto; 
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    border:solid #E0DCDC 1px;
    margin-right:1.5%;
}
.third p{
    color: #c45d5d;
    display: flex;
    justify-content: center;
  
} 
.thirdpi img {
    margin-right:15rem;
    margin-left: 1rem;
    
}
.thirdp p{
    color: black;  
   
    display: flex; 
    font-weight: 400;
    line-height: 20px;
    margin-right: 3%;
    margin-left: 2%;}

.forth{
    width:18.75rem;
    height:auto; 
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    border:solid #E0DCDC 1px;
    margin-right:1.5%;
}
.forth p{
    color: #c45d5d;
    display: flex;
    justify-content: center;
 
}
.forthpi img{
    margin-right:15rem;
    margin-left: 1rem;
}
.forthp{
    width: 100%;
    height:2%;
}
.forthp p{
    color: black;  
    justify-content: center; 
    align-items: center;
    display: flex; 
    font-weight: 400;
    line-height: 23px;
    margin-right: 5%;
    margin-left: 5%;
}

.section3 p{
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color:  #6c1c9c;
    font-family: 'IRANYekan', sans-serif;
     width: 493px; 
     height: 35px;
     font-weight: 700;
     margin-left: auto;
     margin-right: auto;
     
}

.section3 .digi {
  
   justify-content: center;
    /* margin-left:700px ; */
   margin-right: auto;
   margin-left: auto;
    padding-right:auto;
    padding-left:auto;
    align-items: center;
    display: flex;
    width: 50%;
    margin-top:70px ;
} 


.section3  image{
    position: absolute;
    
}

 .section3 .btn {
    background-color: #4E047B;   
    width: 298px;
    height:56px;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 100px;
   justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}
 .section3 .btn a{
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    padding-top: 15px;
}
.last{
    height:400px;
    width: auto;
    background-color:#312d33;
    margin-top: 40px;

}
.end-1{
    
     
    position: absolute; 
    display: inline-block; 
    margin-top: 60px;
    margin-left:85%;
}
.end-1 img{
    width: 150px; 
    height: 30px; 
}

.end-1 p{
    width: 150px; 
    color: azure;
     font-size: 20px;
      font-family: 'IRANYekan', sans-serif;
}
.end-2{
    width:50vw;
     height: 50px;
     justify-content: center;
     align-items: center;
     
     margin-left: auto; 
     margin-right: auto; 
     padding-top:40px;
}
.ppp{
    
    margin-right: 30px;
    margin-top: 60px;
    display: flex
}
.end-3{
    margin-left:3%;
}
@media(max-width:1046px) {
    .last{
    display: grid;
    height: 90%;
    width:auto;
}
.end-1 img {
    margin-right:10vw;
    margin-left: auto;
    
    
    display: flex;
    position: absolute;
}
.end-1 p{
    margin-top: 40px;
    margin-right:10vw;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
   
    display: flex;
    position:absolute ;
}
.end-2{
    position: absolute;
}
.pp{
    margin-top: 170px;
    margin-right:5vw;
    margin-left: 15vw;
    width: 60vw;
    display: flex;
   
}
.ppp{
    margin-top: 100px;
    margin-right:5vw;
    margin-left: 15vw;
    width: 60vw;
    display: flex;
   
}
.end-3 {
    margin-top: 650px;
    margin-right:10vw;
    margin-left: 15vw;
    width: 60vw;
    
}
}
@media(max-width:650px) {
.section3 .digi {
    padding-right: 10vw;
    display: grid;
    row-gap: 2rem;
   
}
.section3 p{
    /* width: 120vw; */
    font-size: 20px;
    width: 80vw;

}
.btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

}
@media screen and (max-width:1225px) {
    .all{
        display: grid;
        grid-column: auto;
        width:80vw;
        row-gap: 2rem;
    }
    .first {
        width: 80vw;
        display: grid;
    }
    .first img{
        margin-right:73vw;
        margin-left: 0px;
       
    }
    .second {
        width: 80vw;
        display: grid;
    
    }
    .second img{
        margin-right:70vw;
        margin-left: 0px;
    }
    .third{
        width: 80vw;
        display: grid;
    }
    .thirdpi img {
        margin-right:70vw;
        margin-left: 0px;
        
    }
    .forth{
        width: 80vw;
        display: grid;
    }
    .forthpi img{
        margin-right:70vw;
        margin-left: 0px;
    }
    
     }
@media (max-width:1252px) {
    .image2 img{
    width:40vw;
    height: 40vw;
    }
    .image img{
        width:19vw;
    }
    .message{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width:40vw;
        justify-content: center;
        margin-left: 55%;
    }
    .message p{
        font-size: 1.25vw;
        margin-top: 25px;
       
    }
    .button{
        width: 25vw;
    }
    .button p{
        font-size: 1.5vw;
    }
}
@media (max-width:956px) {
    .image2 img{
        display: none;
    }
    .image img{
      width: 235.73px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }
    .message{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 70vw;
        height: 20%;
       margin-top: 90px;
       
    }
    .message p{
        font-size:2vw;
        width: auto;
        padding-right: 0%;
        margin-top: 35px;

    }
    .button{
        font-size:1vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-top: 90px;
        display: flex;
        width: 33vw;
        height: 15%;
    }
    .button p{
        font-size: 2vw;
    }
}
@media (max-width:778px) {

    .kadre{
        width: 80vw;
    }
    .section-1{
        width: 90vw;
        height: 35vw;
        margin-top: 10%;
        margin-bottom: 25%;
    }
    .message{
        font-size:2vw;
    }
   
}
@media (max-width:410px) 
{
    .paragraf p{
        font-size:5vw;
    }
    .end-3{
        margin-top: 750px;
    }
    
}
@media (max-width:500px) {
    .message p{
    margin-top: 20px;
    font-size:15px; 
    width: 250px;
    padding-right: 10px;
    margin-right:auto;
    margin-left: auto;
    display: flex;
    }

}
@media (max-width:360px) {
    body{
        display: none;
    }
    
}